@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Dash = " - ";
    ViewBag.SubTitle = "My Movie Collection";
}

@model MovieListViewModel

<h1>@ViewBag.SubTitle</h1>

<p>
    Here is a list of all the movies added so far
    <br /><br />
    This list will not ever display the movie "Independence Day", because Joel once argued in a 4th of 
    July podcast that “Independence Day” beats “Rocky IV” as the “Most American Movie 
    Ever Made” which is obviously not true!
</p>
<div class="text-center">
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Director
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        Edited
                    </th>
                    <th>
                        Lent To:
                    </th>
                    <th>
                        Notes
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @* Still doesn't print out the movie Independence day*@
                @foreach (var x in Model.movies)
                {
                    if (x.title == "Independence Day")
                    {
                        continue;
                    }
                    else
                    {
                        <partial name="MovieListInfo" model="x" />
                    }
                }
            </tbody>
        </table>
    </div>

    <div page-model="@Model.PagingInfo" page-action="FilmList" page-url-category="@Model.CurrentCategory" class="pagehighlight">

    </div>

</div>
