@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Dash = "";
    ViewBag.SubTitle = "";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewBag.Title</h1>
    <img src="~/JoelHilton.jpg" width="800"/>
</div>
