@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Dash = " - ";
    ViewBag.SubTitle = "My Podcasts";
}
<h1>@ViewBag.SubTitle</h1>

<p>Click <a href="https://baconsale.com/">Here</a> or on the Baconsale logo to go to the website of Joel's favorite podcast, Baconsale!</p>

<a href="https://baconsale.com/">
    <img src="~/Baconsale.jpg" width="400"/>
</a>
